---
title: Basic content
---
!!! 5
%html
  %head
    %title Some title here
    %link{ rel: 'stylesheet', type: 'text/css', href: 'stylesheets/global.css' }

  %body
    .container
      .row
        .span-12
          .hero-unit
            %h1 Example Index
            %p This is the basic index page
            %p {{ site.time | date_to_xmlschema }}
