\---
layout: main
\---
.home
  .headline
    %h1 I'm Software Engineer.
    %p.p1
      I've been at
      %a{ href:"http://joyable.com" } Joyable
      since the fall of 2014.  Before that I was at
      %a{ href: 'http://threadflip.com' } Threadflip
      and
      %a{ href:"http://expensify.com" } Expensify.
  .rest
    {% for post in site.posts limit: 5 %}
    %h1
      %a{ href: '{{site.baseurl}}{{post.url}}' } {{post.title}}
    %p
      -#{{post.content | truncatewords: 50}}
      {{post.excerpt}}
    %p
      %a{ href: '{{site.baseurl}}{{post.url}}' } Read more
    %hr
    {% endfor %}
    .more-posts
      %a.btn{ href: '{{site.baseurl}}archive' } More posts
