\---
layout: main
\---
.home
  .headline
    %h1 I'm Software Engineer.
    %p.p1
      I've worked at
      %a{ href: 'http://threadflip.com' } Threadflip
      in SF since summer of 2013, and
      %a{ href:"http://expensify.com" } Expensify
      for a couple years before that.
  .rest
    {% for post in site.posts limit: 5 %}
    %h1
      %a{ href: '{{site.baseurl}}{{post.url}}' } {{post.title}}
    %p
      {{post.content | truncatewords: 50}}
    %p
      %a{ href: '{{site.baseurl}}{{post.url}}' } Read more
    %hr
    {% endfor %}
    .more-posts
      %a.btn{ href: '{{site.baseurl}}archive' } More posts
