!!! 5
%html
  %head
    %title Kevin Kuchta
    {% include header_resources.html %}
    %script{ src: 'javascripts/sp_switcher.js' }

  %body
    .container-fluid
      .row-fluid
        .span4.sidebar
          {% include sidebar.html %}
        .span7.main
          {{content}}
