!!! 5
%html
  %head
    %title Kevin Kuchta
    {% include header_resources.html %}

  %body
    .container-fluid
      .row-fluid
        .resume.span12
          .header
            %h1 Kevin Kuchta

          Some day I'll set up a nice resume here.
