!!! 5
%html
  %head
    %title Kevin Kuchta
    {% include header_resources.html %}

  %body.resume-page
    .floater
      %ul
        %li
          %a{href:'{{site.baseurl}}'} Back to site
        %li
          %a{href:'{{site.baseurl}}files/KevinKuchta.pdf'} PDF Version
    .container.resume
      .header.row
        .name
          <a href='mailto:kevin@kevinkuchta.com' class='faded'>Kevin@</a><a href='https://www.kevinkuchta.com'>KevinKuchta<span class='faded'>.com</span></a>
        %ul.contact
          %li
            %a{href:'tel:415-758-2482'} 415-758-2482
          %li.divider &#183;
          %li 
            %a{ href:'https://twitter.com/kkuchta' } @kkuchta
          %li.divider &#183;
          %li 
            %a{href:'https://github.com/kkuchta'} github.com/kkuchta
          %li.divider &#183;
          %li
            %a{href:'https://maps.google.com/maps?q=1137+Hyde+St,+San+Francisco,+CA&hl=en&ll=37.791473,-122.417822&spn=0.043545,0.082998&sll=37.60592,-122.280063&sspn=0.698471,1.327972'} San Francisco, CA

      .experience.row
        %h2
          Experience
        .job.row
          %ul.details.span2
            %li.title Software Developer
            %li.company Threadflip
            %li.dates 2013-Present
          .description.span6
            I do full stack development with <b>rails</b>, <b>coffeescript</b>, and <b>backbone</b>.  I've worked on user-facing features, internal tools, refactoring, and optimization.
        .job.row
          %ul.details.span2
            %li.title Software Devloper
            %li.company Vitame.com
            %li.dates 2014-Present
          .description.span6
            I contract with Vitame in my spare time as the sole developer on a legacy <b>rails</b> app.  I troubleshoot issues, fix bugs, and add features.
        .job.row
          %ul.details.span2
            %li.title Software Engineer
            %li.company Expensify.com
            %li.dates 2011-2013
          .description.span6
            I was an early developer at this SAAS Expense Reporting startup.  I worked on both the <b>PHP</b> backend (bank integrations, a <b>mechanical turk</b> system, html receipt parsing, among other things) and the heavy <b>JS</b> frontend (tiered feature-sets, report permissions, dropbox integration).
        .job.row
          %ul.details.span2
            %li.title Web Developer
            %li.company RIT School of Film and Animation
            %li.dates 2008-2011
          .description.span6
            I was the primary developer for a db-driven site for film students to organize their projects.  This was in <b>PHP + MySQL + CodeIgniter</b>.  I worked on this through a successfull launch and subsequent maintenance while I was taking classes.
        .job.row
          %ul.details.span2
            %li.title Misc
          .description.span6
            %ul
              %li
                %b Co-ops:
                6 months each at Parse3 (C#), IBM (JS), and GE MDS (Java)
              %li
                %b Earlier:
                2 years tech support, 2 years dishwasher, 5 years stable hand
      .projects.row
        %h2 Projects
        .project.row
          %ul.details.span2
            %li.title BeanSpeed.com
            %li
              %a{href:'http://github.com/kkuchta/coffeewifi'} github.com/kkuchta/coffeewifi
          .description.span6
            A rails + backbone site for comparing the wifi speeds at nearby coffeeshops.  Uses google maps, the yelp api, and a speed-test tool.
        .project.row
          %ul.details.span2
            %li.title Vimbits.com
            %li
              %a{href:'http://github.com/kkuchta/vimbits'} github.com/kkuchta/vimbits
          .description.span6
            A Rails site for trading snippets of Vim configuration I did to scratch my own itch.  Browse 'top', 'hot', 'new', and 'random' vimrc snippets.  Has user account, tags, code highlighting.
        .project.row
          %ul.details.span2
            %li.title Other Projects
          .description.span6
            SFRentalApp.com, a JS Physics Engine, an infinite-scrolling random Imgur wall, a social-media campaign manager, a crime-rate service called "Danger Zone", a facebook collage maker (on a 5-person team), Ubimenu, mobile menus as a service.
      .other.row
        .education.span5
          %h2 Education
          BS in Software Engineering, 2011
          %br
          Rochester Institute of Technology
        .interests.span3
          %h2 Other Interests
          Homebrewing, Photography,
          %br
          Travel, Rock Climbing
