!!! 5
%html
  %head
    %title Kevin Kuchta
    {% include header_resources.html %}

  %body.resume-page
    .floater
      %ul
        %li
          %a{href:'/'} Back to site
        %li
          %a{href:'/files/KevinKuchta.pdf'} PDF Version
    .container.resume
      .header.row
        .name
          <a href='mailto:kevin@kevinkuchta.com' class='faded'>Kevin@</a><a href='https://www.kevinkuchta.com'>KevinKuchta<span class='faded'>.com</span></a>
        %ul.contact
          %li
            %a{href:'tel:415-758-2482'} 415-758-2482
          %li.divider &#183;
          %li 
            %a{ href:'https://twitter.com/kkuchta' } @kkuchta
          %li.divider &#183;
          %li 
            %a{href:'https://github.com/kkuchta'} github.com/kkuchta
          %li.divider &#183;
          %li
            %a{href:'https://www.google.com/maps/place/Stanyan+St+%26+Frederick+St'} San Francisco, CA

      .experience.row
        %h2
          Experience
        .job.row
          %ul.details.span2
            %li.title Senior Software Engineer / Lead Backend Engineer
            %li.company Joyable
            %li.dates 2014-2019
          .description.span6
            As a full stack developer using <b>Ruby on Rails</b> and <b>Angular.js</b> (later <b>React</b>), I helped this mental health startup grow from 5 to 40 people. I built many user-facing features, improved frontend performance, built payment + subscription systems, wrote internal tools, built most of the API, drove the transition to an <b>SPA</b>, managed/developed the <b>Docker</b>-based infrastructure, and hired/mentored other engineers.
        .job.row
          %ul.details.span2
            %li.title Software Developer
            %li.company Threadflip
            %li.dates 2013-2014
          .description.span6
            I did full stack development with <b>Rails</b>, <b>Coffeescript</b>, and <b>Backbone</b> at this two-sided ecommerce marketplace.  I worked on user-facing features, internal tools, refactoring, and optimization.
        .job.row
          %ul.details.span2
            %li.title Software Engineer
            %li.company Expensify
            %li.dates 2011-2013
          .description.span6
            I was an early developer at this SaaS expense reporting startup.  I worked on both the <b>PHP</b> backend (bank integrations, a <b>Mechanical Turk</b> system, receipt parsing) and the heavy <b>JS</b> frontend (tiered feature-sets, report permissions, dropbox integration).
        .job.row
          %ul.details.span2
            %li.title Prior
          .description.span6
            Parse3 (<b>C#</b>), IBM (<b>JS</b>), GE (<b>Java</b>), RIT SoFA (<b>PHP</b>)
      .projects.row
        %h2 Projects
        .project.row
          %ul.details.span2
            %li.title Scarr
            %li
              %a{href:'https://github.com/kkuchta/scarr'} github/kkuchta/scarr
          .description.span6
            A <b>Golang</b> tool to quickly register + spin up new sites with <b>S3</b>, <b>Cloudfront</b>, <b>ACM</b>, and <b>Route53</b> on <b>AWS</b>.
        .project.row
          %ul.details.span2
            %li.title VoyageFound.com
            %li
              %a{href:'https://github.com/kkuchta/voyagefound'} github/kkuchta/voyagefound
          .description.span6
            A mobile-friendly <b>React</b> site for exploring the wikivoyage travel site (and using a <b>Ruby</b>-based scraper).
        .project.row
          %ul.details.span2
            %li.title Bub
            %li
              %a{href:'https://github.com/kkuchta/bub'} github/kkuchta/bub
          .description.span6
            A <b>Ruby</b> rack-based slack bot to manage reserving servers.  Built partially as an exercise in building a Ruby http service without Rails.
        .project.row
          %ul.details.span2
            %li.title totes-not-amazon.com
            %li
              %a{href:'https://github.com/kkuchta/aws_markov'} github/kkuchta/aws_markov
          .description.span6
            A markov-generator that produces realistic-looking Amazon announcements.  Parser in <b>Ruby</b>, generator in <b>Python</b> (on AWS Lambda), frontend in <b>JS</b>.
            A <b>Ruby-</b>, <b>Python-</b>, and <b>JS</b>-based markov-generator to produce realistic-looking Amazon announcements.
        .project.row
          %ul.details.span2
            %li.title Other Projects
          .description.span6
            A <b>Rails</b> + <b>Coffeescript</b> app for tracking coffeeshop internet speeds.  An infinite-scrolling wall of random imgur images in <b>Angular</b>.  A tiny <b>Javascript</b> physics engine.  A humorous-but-functional url shortener using only <b>AWS Lambda</b>.  A <b>Ruby</b> twitterbot that completes Hamilton lyrics.
      .other.row
        .education.span3
          %h2 Education
          BS in Software Engineering, 2011
          %br
          Rochester Institute of Technology
        .talks.span3
          %h2 Speaking
          <a href="https://www.youtube.com/watch?v=datDkio1AXM">Ruby is the Best Javascript</a>
          %br
          RubyConf 2018
        .interests.span3
          %h2 Other Interests
          Homebrewing, Photography,
          %br
          Travel, Comic Drawing
