%h1
  %a{ href: '{{site.baseurl}}' } Kevin<br>Kuchta
%ul.unstyled
  %li
    %a{ href: '{{site.baseurl}}projects' } Projects
  %li
    %a{ href: '{{site.baseurl}}contact' } On the web
  %li
    %a{ href: '{{site.baseurl}}resume' } Resume
  %li
    %a{ href: '{{site.baseurl}}bio' } Bio
