%h1
  Kevin
  Kuchta
%ul.unstyled
  %li
    %a{ href: '{{site.baseurl}}projects' } Projects
  %li
    %a{ href: '{{site.baseurl}}projects' } On the web
  %li
    %a{ href: '{{site.baseurl}}projects' } Bio
  %li
    %a{ href: '{{site.baseurl}}projects' } Bio
