%h1
  %a{ href: '/' } Kevin<br>Kuchta
%ul.unstyled
  %li
    %a{ href: '/projects' } Projects
  %li
    %a{ href: '/hacks' } Hacks
  %li
    %a{ href: '/talks' } Talks
  %li
    %a{ href: '/contact' } On the web
  %li
    %a{ href: '/resume' } Resume
