---
---
$baseFontFamily: 'PT Sans', Helvetica, Arial, sans-serif;
/*$baseFontFamily: 'Allerta', Verdana, Helvetica, sans-serif;*/
$baseFontSize: 18px;
$baseLineHeight: 1.6;

@import "stylesheets/bootstrap";
@import "stylesheets/pygments/default";

h1,h2,h3,h4,h5{
    font-family: 'Bevan', Georgia, serif;
    /*font-family:'Arvo', Georgia, Times, serif;*/
    font-size: $baseFontSize * 1.6;
    line-height: $baseLineHeight;
}
pre code{
    font-size: $baseFontSize * .8;
    baseLineHeight: $baseFontSize * .8;
}

body{
    /*letter-spacing: .065em;*/
    /*word-spacing: .15em;*/
    font-color: $grayDarker;
}

.sidebar{
    @include border-radius(20px);
    min-width: 350px;
    border:15px solid $grayDarker;
    margin-left: 15px;
    margin-top: 30px;
    padding-left: 15px;
    padding-top: 15px;
    font-size: 24px;
    h1{
        font-size: 72px;
        line-height: 0.9em;
    }
    ul{
        margin-left: 30px;
    }
}

.main{
    margin-top: 30px;
    min-width: 350px;
}

