---
layout: main
---
<div class='home'>
  <div class='headline'>
    <h1>I'm Software Engineer</h1>
    <p class='p1'>
      in San Francisco.
      <br />
      I build serious tools and
      <a href='/_site/2018/03/lambda-only-url-shortener/'>silly hacks.</a>
      Currently traveling, recently at
      <a href='http://joyable.com'>Joyable.</a>
      I'll be looking for work again in the fall of 2019.
    </p>
  </div>
  <div class='rest'>
    {% for post in site.posts limit: 5 %}
    <h1>
      <a href='{{site.baseurl}}{{post.url}}'>{{post.title}}</a>
    </h1>
    <p>
      {{post.excerpt}}
    </p>
    <p>
      <a href='{{site.baseurl}}{{post.url}}'>Read more</a>
    </p>
    <hr />
    {% endfor %}
    <div class='more-posts'>
      <a class='btn' href='{{site.baseurl}}archive'>More posts</a>
    </div>
  </div>
</div>
