---
layout: main
---
<div class='home'>
  <div class='headline'>
    <h1>I'm Software Engineer.</h1>
    <p class='p1'>
      I've been at
      <a href='http://joyable.com'>Joyable</a>
      since the fall of 2014.  Before that I was at
      <a href='http://threadflip.com'>Threadflip</a>
      and
      <a href='http://expensify.com'>Expensify.</a>
    </p>
  </div>
  <div class='rest'>
    {% for post in site.posts limit: 5 %}
    <h1>
      <a href='{{site.baseurl}}{{post.url}}'>{{post.title}}</a>
    </h1>
    <p>
      {{post.excerpt}}
    </p>
    <p>
      <a href='{{site.baseurl}}{{post.url}}'>Read more</a>
    </p>
    <hr />
    {% endfor %}
    <div class='more-posts'>
      <a class='btn' href='{{site.baseurl}}archive'>More posts</a>
    </div>
  </div>
</div>
