<!DOCTYPE html>
<html>
  <head>
    <title>Kevin Kuchta</title>
    {% include header_resources.html %}
  </head>
  <body class='resume-page'>
    <div class='floater'>
      <ul>
        <li>
          <a href='{{site.baseurl}}'>Back to site</a>
        </li>
        <li>
          <a href='{{site.baseurl}}files/KevinKuchta.pdf'>PDF Version</a>
        </li>
      </ul>
    </div>
    <div class='container resume'>
      <div class='header row'>
        <div class='name'>
          <a href='mailto:kevin@kevinkuchta.com' class='faded'>Kevin@</a><a href='https://www.kevinkuchta.com'>KevinKuchta<span class='faded'>.com</span></a>
        </div>
        <ul class='contact'>
          <li>
            <a href='tel:415-758-2482'>415-758-2482</a>
          </li>
          <li class='divider'>&#183;</li>
          <li>
            <a href='https://twitter.com/kkuchta'>@kkuchta</a>
          </li>
          <li class='divider'>&#183;</li>
          <li>
            <a href='https://github.com/kkuchta'>github.com/kkuchta</a>
          </li>
          <li class='divider'>&#183;</li>
          <li>
            <a href='https://www.google.com/maps/place/Pierce+St+%26+Page+St,+San+Francisco,+CA+94117'>San Francisco, CA</a>
          </li>
        </ul>
      </div>
      <div class='experience row'>
        <h2>
          Experience
        </h2>
        <div class='job row'>
          <ul class='details span2'>
            <li class='title'>Software Engineer</li>
            <li class='company'>Joyable</li>
            <li class='dates'>2014-Present</li>
          </ul>
          <div class='description span6'>
            As a full stack developer using <b>rails</b> and <b>angular.js</b>, I helped this mental health startup grow from 5 to 40 people.  I built many user-facing activities, improved <b>frontend performance</b>, integrated our payments processor, built the subscription system, wrote the internal admin tools, and drove the transition towards an <b>SPA</b>.
          </div>
        </div>
        <div class='job row'>
          <ul class='details span2'>
            <li class='title'>Software Developer</li>
            <li class='company'>Threadflip</li>
            <li class='dates'>2013-2014</li>
          </ul>
          <div class='description span6'>
            I did full stack development with <b>rails</b>, <b>coffeescript</b>, and <b>backbone</b>.  I worked on user-facing features, internal tools, refactoring, and optimization.
          </div>
        </div>
        <div class='job row'>
          <ul class='details span2'>
            <li class='title'>Software Engineer</li>
            <li class='company'>Expensify</li>
            <li class='dates'>2011-2013</li>
          </ul>
          <div class='description span6'>
            I was an early developer at this SAAS Expense Reporting startup.  I worked on both the <b>PHP</b> backend (bank integrations, a <b>mechanical turk</b> system, html receipt parsing) and the heavy <b>JS</b> frontend (tiered feature-sets, report permissions, dropbox integration).
          </div>
        </div>
        <div class='job row'>
          <ul class='details span2'>
            <li class='title'>Misc</li>
          </ul>
          <div class='description span6'>
            <ul>
              <li>
                <b>Co-ops:</b>
                6 months each at Parse3 (C#), IBM (JS), and GE MDS (Java)
              </li>
              <li>
                <b>Part Time:</b>
                3 years RIT SoFA (PHP), 8 months Rails (Vitame.com, freelancing)
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class='projects row'>
        <h2>Projects</h2>
        <div class='project row'>
          <ul class='details span2'>
            <li class='title'>Bub</li>
            <li>
              <a href='https://github.com/kkuchta/bub'>github.com/kkuchta/bub</a>
            </li>
          </ul>
          <div class='description span6'>
            A rack-based slack bot to manage reserving servers.  Built partially as an exercise in building a ruby http service without rails.
          </div>
        </div>
        <div class='project row'>
          <ul class='details span2'>
            <li class='title'>BeanSpeed.com</li>
            <li>
              <a href='http://github.com/kkuchta/coffeewifi'>github.com/kkuchta/coffeewifi</a>
            </li>
          </ul>
          <div class='description span6'>
            A rails + backbone site for comparing the wifi speeds at nearby coffeeshops.  Uses google maps, the yelp api, and a speed-test tool.
          </div>
        </div>
        <div class='project row'>
          <ul class='details span2'>
            <li class='title'>Vimbits.com</li>
            <li>
              <a href='http://github.com/kkuchta/vimbits'>github.com/kkuchta/vimbits</a>
            </li>
          </ul>
          <div class='description span6'>
            A Rails site for trading snippets of Vim configuration I did to scratch my own itch.  Browse 'top', 'hot', 'new', and 'random' vimrc snippets.  Has user account, tags, code highlighting.
          </div>
        </div>
        <div class='project row'>
          <ul class='details span2'>
            <li class='title'>Other Projects</li>
          </ul>
          <div class='description span6'>
            SFRentalApp.com, a JS Physics Engine, an infinite-scrolling random Imgur wall, a social-media campaign manager, a crime-rate service called "Danger Zone", a facebook collage maker (on a 5-person team), Ubimenu, mobile menus as a service.
          </div>
        </div>
      </div>
      <div class='other row'>
        <div class='education span5'>
          <h2>Education</h2>
          BS in Software Engineering, 2011
          <br />
          Rochester Institute of Technology
        </div>
        <div class='interests span3'>
          <h2>Other Interests</h2>
          Homebrewing, Photography,
          <br />
          Travel, Rock Climbing
        </div>
      </div>
    </div>
  </body>
</html>
