<!DOCTYPE html>
<html>
  <head>
    <title>Kevin Kuchta</title>
    {% include header_resources.html %}
  </head>
  <body>
    <div class='container'>
      <div class='row-fluid'>
        <div class='resume span12'>
          <div class='header'>
            <div class='name'>
              <a href='mailto:kevin@kevinkuchta.com' class='faded'>Kevin@</a><a href='https://www.kevinkuchta.com'>KevinKuchta<span class='faded'>.com</span></a>
            </div>
            <ul class='contact'>
              <li>
                <a href='tel:415-758-2482'>415-758-2482</a>
              </li>
              <li class='divider'>&#183;</li>
              <li>
                <a href='https://twitter.com/kkuchta'>@kkuchta</a>
              </li>
              <li class='divider'>&#183;</li>
              <li>
                <a href='https://github.com/kkuchta'>github.com/kkuchta</a>
              </li>
              <li class='divider'>&#183;</li>
              <li>
                <a href='https://maps.google.com/maps?q=1137+Hyde+St,+San+Francisco,+CA&amp;hl=en&amp;ll=37.791473,-122.417822&amp;spn=0.043545,0.082998&amp;sll=37.60592,-122.280063&amp;sspn=0.698471,1.327972'>San Francisco, CA</a>
              </li>
            </ul>
          </div>
          Some day I'll set up a nice resume here.
        </div>
      </div>
    </div>
  </body>
</html>
