<!DOCTYPE html>
<html>
  <head>
    <title>Kevin Kuchta</title>
    {% include header_resources.html %}
  </head>
  <body>
    <div class='container resume'>
      <div class='header row'>
        <div class='name'>
          <a href='mailto:kevin@kevinkuchta.com' class='faded'>Kevin@</a><a href='https://www.kevinkuchta.com'>KevinKuchta<span class='faded'>.com</span></a>
        </div>
        <ul class='contact'>
          <li>
            <a href='tel:415-758-2482'>415-758-2482</a>
          </li>
          <li class='divider'>&#183;</li>
          <li>
            <a href='https://twitter.com/kkuchta'>@kkuchta</a>
          </li>
          <li class='divider'>&#183;</li>
          <li>
            <a href='https://github.com/kkuchta'>github.com/kkuchta</a>
          </li>
          <li class='divider'>&#183;</li>
          <li>
            <a href='https://maps.google.com/maps?q=1137+Hyde+St,+San+Francisco,+CA&amp;hl=en&amp;ll=37.791473,-122.417822&amp;spn=0.043545,0.082998&amp;sll=37.60592,-122.280063&amp;sspn=0.698471,1.327972'>San Francisco, CA</a>
          </li>
        </ul>
      </div>
      <div class='experience row'>
        <div class='job row'>
          <ul class='details span3'>
            <li class='title'>Software Engineer</li>
            <li class='company'>Expensify.com</li>
            <li class='dates'>2011-present</li>
          </ul>
          <div class='description span7'>
            I was an early developer at this SAAS Expense Reporting startup.  I worked on both the <b>PHP</b> backend (bank integrations, a <b>mechanical turk</b> system, html receipt parsing, among other things) and the heavy <b>JS</b> frontend (tiered feature-sets, report permissions, dropbox integration).
          </div>
        </div>
        <div class='job row'>
          <ul class='details span3'>
            <li class='title'>Web Developer</li>
            <li class='company'>RIT School of Film and Animation</li>
            <li class='dates'>2008-2011</li>
          </ul>
          <div class='description span7'>
            I was the primary developer for a db-driven site for film students to organize their projects.  This was in <b>PHP + MySQL + CodeIgnitor</b>.  I worked on this through a successfull launch and subsequent maintenance while I was taking classes.
          </div>
        </div>
        <div class='job row'>
          <ul class='details span3'>
            <li class='title'>Co-op Developer (6 months)</li>
            <li class='company'>Parse3</li>
            <li class='dates'>2008</li>
          </ul>
          <div class='description span7'>
            <b>Taught myself C# and ASP</b> on 2- and 5- person teams.  Worked on the frontent and Sitecore-integrated backend for https://kumon.com.
          </div>
        </div>
        <div class='job row'>
          <ul class='details span3'>
            <li class='title'>Misc</li>
          </ul>
          <div class='description span7'>
            <ul>
              <li>
                <b>6 mo Co-op @ IBM,</b>
                2009 - Javascript + Dojo
              </li>
              <li>
                <b>6 mo Co-op @ GE MDS,</b>
                2008 - Java
              </li>
              <li>
                <b>Tier 2 Tech Support</b>
                2006-2008 - Mac + Windows
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class='row'>
        <hr class='span5' />
      </div>
      <div class='row'>
        <div class='span12'>
          whatever
        </div>
      </div>
    </div>
  </body>
</html>
